    .container {
      max-width: 800px;
      margin: 20px auto;
      
    }
    details {
      background: white;
      margin-bottom: -20px;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 15px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      transition: all 0.3s ease-in-out;
    }
    details[open] {
      border-color: #661b1b;
      transform: scale(1.01);
    }
    summary {
      font-family: 'Quicksand', sans-serif;
      font-weight: 600;
      font-size: 1.4rem;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 40px;
    }
    summary::before {
      content: "\276F";
      font-size: 1.2rem;
      position: absolute;
      left: 10px;
      color: #a52a2a;
      transition: transform 0.3s ease;
    }
    details[open] summary::before {
      transform: rotate(90deg);
    }
    ul {
      margin: 10px 0 0 20px;
    }
    li {
      margin-bottom: 8px;
      font-size: 1.1rem;
    }